@using Demo.Test.Components.Services;
@using Test.Components.Pages.Modules;

@inject NotificationsService _notificaionService;

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    @foreach (var notification in _notificaionService.Notifications)
    {
        <Toast Notification="@notification"></Toast>
    }
</div>